prompt_toolkit==1.0.15
arrow
python-crfsuite
mongoengine
#git+git://github.com/jbkoh/jason_python_helper.git
pandas
tabulate
rdflib
rdflib-jsonld
SPARQLWrapper
matplotlib
scikit-learn
pyyaml
#git+https://github.com/jbkoh/scrabble.git@master
pandas
